<a href="https://colab.research.google.com/github/aayu75/ds-git-lab/blob/main/lab_exam_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("/content/titanic.csv")

In [ ]:
#how many passengers out of total passengers have "paid_more_than_median" set to 1

In [2]:
# introducing new column
median_fare = df['Fare'].median()
df['paid_more_than_median'] = (df['Fare'] > median_fare).astype(int)

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  paid_more_than_median
0      0         A/5 21171   7.2500   NaN        S                      0
1      0          PC 17599  71.2833   C85        C                      1
2      0  STON/O2. 3101282   7.9250   NaN        S                      0
3      0            113803  53.1000  C123        S                      1
4      0            373450   8.0500   NaN        S                      0

In [3]:
# Count how many passengers paid more than median
count = df['paid_more_than_median'].sum()
total = len(df)

print("Passengers who paid more than median fare:", count)
print("Total passengers:", total)

Passengers who paid more than median fare: 444
Total passengers: 891